@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --clr-canvas: #f9d8af;
  --clr-lighter-pink: #da8799;
  --clr-darker-pink: #bf788b;
  --clr-dull-orange: #e0a374;
  --clr-almost-black: #241e14;
  --header-gap: 2vw;
}

* {
  color: var(--clr-almost-black);
  font-family: "Montserrat", sans-serif;
}

body {
  background-image: url("./assets/home-background.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.align-center {
  display: flex;
  align-items: center;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.no-text-dec {
  text-decoration: none;
  color: inherit;
}

/* *---COMPONENTS---* */
/* header */
.header-nav {
  justify-content: space-between;
  padding: 2vh 4vh;
  font-size: 2.5vh;
}

.logo {
  height: 7vh;
}

.logo-text {
  font-family: "Bodoni Moda", serif;
  text-decoration: none;
  font-size: 4.5vh;
}

.header-gap {
  gap: var(--header-gap);
}

.contact-link,
.apartment-link,
.login-link {
  transition: opacity 0.3s ease;
}

.contact-link:hover,
.apartment-link:hover,
.login-link:hover {
  opacity: 50%;
}

.get-started-btn {
  border-radius: 1vh;
  background-color: var(--clr-canvas);
  border: none;
  text-align: center;
  font-size: 2.5vh;
  padding: 1vh;
  width: 11vw;
  transition: all 0.5s;
  height: 6vh;
  span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    right: -2vw;
    transition: 0.5s;
  }
}

.get-started-btn:hover span {
  padding-right: 2vw;
}

.get-started-btn:hover span:after {
  opacity: 1;
  right: 0;
}

/* footer */
.footer-text {
  position: fixed;
  bottom: 1vh;
  right: 2vw;
  color: var(--clr-canvas) !important;
}

/* *---PAGES---* */

/* Home */

.card-container {
  height: 40vh;
  width: 50vw;
  position: absolute;
  top: 30vh;
  left: 2vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-top: #fff solid 4vh;
  border-right: #fff solid 2vh;
  border-bottom: #fff solid 2vh;
}

.card-left {
  background-color: #fff;
  height: 100%;
  width: 40%;
}

.hero-text {
  top: 30vh;
  right: 2vw;
  position: absolute;
  width: 40vw;
  color: #fff;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.hero-h2 {
  font-family: "Bodoni Moda", serif;
  font-size: 9vh;
}
